[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ncodeR"]
	path = ncodeR
	url = https://gitlab.com/epistemic-analytics/qe-packages/ncoder
[submodule "rENA"]
	path = rENA
	url = https://gitlab.com/epistemic-analytics/qe-packages/rena
[submodule "rhoR"]
	path = rhoR
	url = https://gitlab.com/epistemic-analytics/qe-packages/rhor
